<h1> Détail du restaurant </h1>
<h2> nom du restaurant : <%= @restaurant.name %> </h2>
<h2> rating du restaurant : <%= @restaurant.rating %> </h2>
<%= link_to "Delete",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>